{% extends "main.html" %}
{% block content %}
{% include "banner.html" %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<style>-->
    <!--@media only screen and (max-width: 500px) {-->
        <!--body {-->
            <!--background-color: lightblue;-->
        <!--}-->
    <!--}-->
    <!--</style>-->
</head>
<body>
<div class="container-fluid" style="background-color:purple;height:150px;">
    <p> hi</p>
</div>





<!--<div class="container" style="background-color:blue;height=200px;margin:10px;">-->
    <!--<div class="row" style="background-color:green;">-->
        <!--<div>-->
            <!--<p>hey</p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<p>hey1</p>-->
    <!--&lt;!&ndash;<img  src="C:\Users\Connor\Desktop\devEnv\Udacity_Catalog-Project\static\img\logo.png">&ndash;&gt;-->

<!--</div>-->

<!--<p> hello world 123 </p>-->




</body>
</html>

{% endblock %}